
#thumbnail-1{
    background-image: url(src/assets/thumbnail-1.png);
  }
  #thumbnail-2{
    background-image: url(src/assets/thumbnail-2.png);
  }
  #thumbnail-3{
    background-image: url(src/assets/thumbnail-3.png);
  }
  #thumbnail-4{
    background-image: url(src/assets/thumbnail-4.png);
  }
  #thumbnail-5{
    background-image: url(src/assets/thumbnail-5.png);
  }
  #thumbnail-6{
    background-image: url(src/assets/thumbnail-6.png);
  }
  #thumbnail-7{
    background-image: url(src/assets/thumbnail-7.png);
  }
  #thumbnail-8{
    background-image: url(src/assets/thumbnail-8.png);
  }
  #thumbnail-9{
    background-image: url(src/assets/thumbnail-9.png);
  }
  #thumbnail-10{
    background-image: url(src/assets/thumbnail-10.png);
  }
  #thumbnail-11{
    background-image: url(src/assets/thumbnail-11.png);
  }
  #thumbnail-12{
    background-image: url(src/assets/thumbnail-12.png);
  }
  #thumbnail-13{
    background-image: url(src/assets/thumbnail-13.png);
  }


#artist-1{
    background-image: url(src/assets/artist-image-1.png);
}
#artist-2{
    background-image: url(src/assets/artist-image-2.png);
}
#artist-3{
    background-image: url(src/assets/artist-image-3.png);
}
#artist-4{
    background-image: url(src/assets/artist-image-4.png);
}
#artist-5{
  background-image: url(src/assets/artist1.jpg);
}
#artist-6{
  background-image: url(src/assets/artist2.jpeg);
}
#artist-7{
  background-image: url(src/assets/artist3.jpeg);
}
#artist-8{
  background-image: url(src/assets/artist4.jpeg);
}
#artist-9{
  background-image: url(src/assets/artist5.jpg);
}
#artist-10{
  background-image: url(src/assets/artist6.jpeg);
}
#artist-11{
  background-image: url(src/assets/artist7.jpg);
}
#ret1{
  background-image: url(src/assets/ret1.png);
}
#ret2{
  background-image: url(src/assets/ret2.png);
}
#ret3{
  background-image: url(src/assets/ret3.png);
}
#ret4{
  background-image: url(src/assets/ret4.png);
}
#ret5{
  background-image: url(src/assets/ret5.png);
}
#ret6{
  background-image: url(src/assets/ret6.png);
}
#ret7{
  background-image: url(src/assets/ret7.png);
}

#playlist-1{
  background-image: url(src/assets/smooth.png);
}
#playlist-2{
  background-image: url(src/assets/bass.png);
}
#playlist-3{
  background-image: url(src/assets/drive.png);
}
#playlist-4{
  background-image: url(src/assets/melody.png);
}
#playlist-5{
  background-image: url(src/assets/ambient.png);
}
#playlist-6{
  background-image: url(src/assets/rock.png);
}
#playlist-7{
  background-image: url(src/assets/retro.jpg);
}

#mut1{
  background-image: url(src/assets/mut1.png);
}
#mut2{
  background-image: url(src/assets/mut2.png);
}
#mut3{
  background-image: url(src/assets/mut3.png);
}
#mut4{
  background-image: url(src/assets/mut4.png);
}
#mut5{
  background-image: url(src/assets/mut5.png);
}
#mut6{
  background-image: url(src/assets/mut6.png);
}
#mut7{
  background-image: url(src/assets/mut7.png);
}
#mut8{
  background-image: url(src/assets/mut8.png);
}
#mut9{
  background-image: url(src/assets/mut9.png);
}
#mut10{
  background-image: url(src/asstes/mut10.png);
}
#mut11{
  background-image: url(src/assets/mut11.png);
}
#mut12{
  background-image: url(src/assets/mut12.png);
}
#mut13{
  background-image: url(src/assets/mut13.png);
}